body {
  margin: 0;
  padding: 0;
  background-color: rgb(70, 67, 67);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  background-color: white;
  padding: 20px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  background-color: black;
  padding: 20px;
  height: 90%;
  width: 90%;
  display: flex;
}

.grids {
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(70, 67, 67);
  gap: 50px;
}
