@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

html {
  font-family: "Bruno Ace", cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(104, 101, 101);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#hide {
  display: none;
}

.gameboard {
  padding: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.grid-container {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}

.grids {
  border-radius: 5px;
  border: solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: rgb(70, 67, 67);
  display: flex;
  color: white;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
}

.grids:hover {
  background-color: rgba(255, 255, 255, 0.514);
}

.btn,
.clear-grid {
  padding: 10px 20px;
  border: solid black;
  border-radius: 20px;
  font-size: 1.2rem;
  width: 100px;
  margin-bottom: 10px;
}

.clear-grid {
  width: 200px;
  font-size: 1rem;
  margin-top: 10px;
}

h1 {
  font-size: 5rem;
}
